#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "2086A9B846E07EB076563736708CEC4E"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_15n4ln8Aqly8d0bIrJfTX_2HfnzG"
sv_hostname "New Life RP built with QBCore Framework by JericoFx & Kakarot & Hamy!"
sets sv_projectName "[QBCore Framework] New Life RP"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "en-US"
load_server_icon myLogo.png
set sv_enforceGameBuild 2802
set mysql_connection_string "mysql://195.14.105.167:3306/s7282_qbcoreframework_4fa769?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure cc-chat-main
ensure fivem-mysql-async-master
ensure oceanHospital
ensure hh_aidoc
# QBCore & Extra stuff
ensure qb-core
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:10366720 group.admin #Mouuhamd_Boussaid

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands
add_principal identifier.license:d9d27dba42571320eb99c76c767c0b0ceb92fbd7 qbcore.god

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
